section{
    justify-content: space-evenly;
    top:0;
    margin:0;
    padding:0;
    width:100%;
    height:99vh;
    text-align: center;
    z-index:99;

}
.ParticlesBG{
    width:100%;
    height:100%;
    z-index:-5;

}
@media only screen and (min-width: 768px){
.Project-container-left{
    margin:2% auto;
    top:10%;
    width:50%;
    height: 20%;
    background:$color-6;
    z-index:99;
    position: relative;
    transition: ease .2s;
    padding:2%;
    cursor:pointer;
}
}
@media only screen and (max-width: 768px){
    .Project-container-left{
        margin:5% auto;
        top:5%;
        width:85%;
        height: 20%;
        background:$color-6;
        z-index:99;
        position: relative;
        transition: ease .2s;
        padding:2%;
        outline: 1px solid $color-1;
        cursor:pointer;
    }
}
img{
    margin:auto;
    position:relative;
    height:90%;
}
.imgSite{
    height:50%;
}
.imgArt{
    height:150%;
}
h2{
    margin:1%;
    color:$color-1;
}
.Project-container-left:hover{
    transform:scale(1.1);
    outline: 2px solid $color-1;
}
a{
    width:100%;
    height:100%;
    text-decoration: none;
}
.projects {
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}